
<table class="my-table">
  <thead class="my-table headers">
    <tr>
      
      <th scope="col">Front End Technologies</th>
      <th scope="col">Back End Technologies</th>
      <th scope="col">Database Technologies</th>
      
    </tr>
  </thead>
  <tbody class="my-table body">
    <tr *ngFor="let technology of techStackArray">
      <td>{{technology.frontEndTechnologies}}</td>
      <td>{{technology.backEndTechnologies}}</td>
      <td>{{technology.databaseTechnologies}}</td>
    </tr>
  </tbody>
</table>


